:root {
    --purple-color: #ADA2FF;      /* rgb(173, 162, 255) */
    --blue-color: #C0DEFF;        /* rgb(192, 222, 255) */
    --peach-color: #FFE5F1;       /* rgb(255, 229, 241) */
    --yellow-color: #FFF8E1;      /* rgb(255, 248, 225) */
    --black--color: #2C2E43;      /* rgb(44, 46, 67)    */
}



* {
    box-sizing: inherit;
}


html {
    font-size: 62.5%;
    box-sizing: border-box;
}


.app {
    width: 100%;
    height: 100vh;
    background-color: var(--purple-color);
    
}

/* =========================
   =======CONTAINER ======== 
   =========================
*/

.containers {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
}

/* === CONTAINER HEADER === */

.container__header {
    display: flex;
    height: 50px;
    justify-content: space-between;

}
/* CONTAINER HEADER INFO */

.container__header__info {
   height: 100%;
   width: 500px;
   display: flex;
}



.container__header__number-item, .container__header__price {
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid var(--black--color);    
    background-color: var(--yellow-color);
    height: 100%;
    width: 200px;
}

.container__header__number-item {
    
    margin-right: 12px;
}

.container__header__number-item__text {
    font-size: 1.6rem;
    color: var(--black--color);
}


.container__header__price {

}


/* CONTAINER HEADER ACTION */

.container__header__action {
    height: 100%;
    width: 500px;
    display: flex;
    justify-content: flex-end;
}


.container__header__action__btn-submit {
    height: 100%;
    width: 200px;
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--purple-color);
    background-color: var(--yellow-color);
    border: 4px solid var(--black--color);    
    border-radius: 50px;    
}

/* === CONTAINER BODY ===*/
.container__body {
    margin-top: 16px;
    height: 600px;
    background-color: white;
    border-radius: 32px;
    display: flex;
    padding: 40px;
    flex-wrap: wrap;
}


/* CONTAINER BODY ITEM */

.container__body__item {
    height: 468px;
    width: 300px;
    border-radius: 16px;
    border: 4px solid var(--black--color);    
    margin-right: 16px;
    
}

.container__body__item__header {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.container__body__item__header__avatar {
    height: 40px;
    width: 60px;
    border-radius: 50%;
    margin-right: 16px;
}

.container__body_item__header__name {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFE5F1;
    border-radius: 50px;
}


.container__body__item__body {
    width: 100%;
    height: 400px;
    background-color: aquamarine;
}

.container__body__item__body__image-item {
    width: 100%;
    height: auto;
}


.container__body__item__body__info {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.container__body__item__body__property {
    display: flex;
    align-items: center;
}

.container__body__item__body__icon {
    width: 20px;
    height: 20px;
    background-color: #ADA2FF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 4px;
    border: 2px solid black;
}